<app-header></app-header>
<div class="section-wrapper">
<section class="app-description">
<p class="mat-body-1 description-text">
  Welcome to FinFusion, the ultimate asset tracking solution!
  Effortlessly monitor your financial portfolio across cryptocurrencies, fiat currencies, and stocks in one intuitive and secure platform.
  Whether you're a seasoned investor or just starting out, our app simplifies the complex world of asset management.
  Stay informed, make smarter decisions, and watch your investments flourish with FinFusion.
</p>
  <img class="description-img" src="../../assets/img/home/description.png" alt="" height="1024" width="1024">
</section>
</div>
